@import 'tailwindcss';

@import 'tailwindcss';

@layer base {
  * {
    @apply border-border text-base;
  }
  body {
    font-family: 'Inter', sans-serif;
  }
}

@theme {
  --color-background: #fff;
  --color-foreground: #4b5563;
  --color-card: #f9fafb;
  --color-card-foreground: #4b5563;
  --color-popover: #fff;
  --color-popover-foreground: #4b5563;
  --color-primary: #0891b2;
  --color-primary-foreground: #fff;
  --color-secondary: #ec4899;
  --color-secondary-foreground: #fff;
  --color-muted: #f9fafb;
  --color-muted-foreground: #4b5563;
  --color-accent: #ec4899;
  --color-accent-foreground: #fff;
  --color-destructive: #dc2626;
  --color-destructive-foreground: #fff;
  --color-border: #e5e7eb;
  --color-input: #f9fafb;
  --color-ring: #0891b280;
}
